<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="$(var.PackageIdentifier)" Name="$(var.PackageDisplayName)" Manufacturer="Leafuke"
    ProductCode="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)"
    Version="$(var.ProductVersion)" Language="$(var.PackageLanguage)" Scope="perUserOrMachine" Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersion)" Schedule="afterInstallInitialize" IgnoreLanguage="yes" />
    <?if $(var.ValidationId) != "" ?>
    <Property Id="FOLDERREWIND_TEST_ID" Value="$(var.ValidationId)" />
    <?endif?>
    <MediaTemplate EmbedCab="yes" />
    <Property Id="PAYLOADARCH" Value="$(var.InstallerPlatform)" />
    <Property Id="ARPPRODUCTICON" Value="FolderRewindIcon" />
    <Property Id="ARPURLINFOABOUT" Value="https://folderrewind.top/" />
    <Property Id="ARPHELPLINK" Value="https://github.com/Leafuke/FolderRewind/issues" />
    <Icon Id="FolderRewindIcon" SourceFile="..\FolderRewind\Assets\MsiApp.ico" />
    <Binary Id="InstallerNative" SourceFile="$(var.NativeOutputDirectory)\FolderRewind.BAFunctions.dll" />
    <CustomAction Id="PrepareShortcutIcons" BinaryRef="InstallerNative" DllEntry="PrepareShortcutIcons" Execute="immediate" Return="check" />
    <CustomAction Id="FinalizeShortcutIconsUser" BinaryRef="InstallerNative" DllEntry="FinalizeShortcutIcons" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="FinalizeShortcutIconsMachine" BinaryRef="InstallerNative" DllEntry="FinalizeShortcutIcons" Execute="deferred" Impersonate="no" Return="check" />
    <Property Id="FOLDERREWIND_BUNDLECODE" Secure="yes" />
    <Property Id="FOLDERREWIND_BUNDLEFAMILY" Secure="yes" />
    <Property Id="ExpectedBundleFamily" Value="$(var.ExpectedBundleFamily)" />
    <CustomAction Id="PrepareBundleLocation" BinaryRef="InstallerNative" DllEntry="PrepareBundleLocation" Execute="immediate" Return="check" />
    <CustomAction Id="RollbackBundleUser" BinaryRef="InstallerNative" DllEntry="RollbackBundleLocation" Execute="rollback" Impersonate="yes" Return="check" />
    <CustomAction Id="WriteBundleUser" BinaryRef="InstallerNative" DllEntry="WriteBundleLocation" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="CommitBundleUser" BinaryRef="InstallerNative" DllEntry="CommitBundleLocation" Execute="commit" Impersonate="yes" Return="check" />
    <CustomAction Id="RollbackBundleMachine" BinaryRef="InstallerNative" DllEntry="RollbackBundleLocation" Execute="rollback" Impersonate="no" Return="check" />
    <CustomAction Id="WriteBundleMachine" BinaryRef="InstallerNative" DllEntry="WriteBundleLocation" Execute="deferred" Impersonate="no" Return="check" />
    <CustomAction Id="CommitBundleMachine" BinaryRef="InstallerNative" DllEntry="CommitBundleLocation" Execute="commit" Impersonate="no" Return="check" />
    <CustomAction Id="InstallerPreflight" BinaryRef="InstallerNative" DllEntry="InstallerPreflight" Execute="immediate" Return="check" />
    <CustomAction Id="PrepareStartupCleanup" BinaryRef="InstallerNative" DllEntry="PrepareStartupCleanup" Execute="immediate" Return="check" />
    <CustomAction Id="RollbackStartupUser" BinaryRef="InstallerNative" DllEntry="RollbackStartup" Execute="rollback" Impersonate="yes" Return="check" />
    <CustomAction Id="CleanupStartupUser" BinaryRef="InstallerNative" DllEntry="CleanupStartup" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="CommitStartupUser" BinaryRef="InstallerNative" DllEntry="CommitStartup" Execute="commit" Impersonate="yes" Return="check" />
    <CustomAction Id="RollbackStartupMachine" BinaryRef="InstallerNative" DllEntry="RollbackStartup" Execute="rollback" Impersonate="no" Return="check" />
    <CustomAction Id="CleanupStartupMachine" BinaryRef="InstallerNative" DllEntry="CleanupStartup" Execute="deferred" Impersonate="no" Return="check" />
    <CustomAction Id="CommitStartupMachine" BinaryRef="InstallerNative" DllEntry="CommitStartup" Execute="commit" Impersonate="no" Return="check" />
    <?if $(var.EnableFaultInjection) = 1 ?>
    <CustomAction Id="InjectUninstallFailure" BinaryRef="InstallerNative" DllEntry="FailForTesting" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="InjectUpgradeFailure" BinaryRef="InstallerNative" DllEntry="FailForTesting" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="InjectCleanupFailure" BinaryRef="InstallerNative" DllEntry="FailForTesting" Execute="deferred" Impersonate="yes" Return="check" />
    <CustomAction Id="InjectRegistrationFailure" BinaryRef="InstallerNative" DllEntry="FailForTesting" Execute="deferred" Impersonate="yes" Return="check" />
    <Property Id="FOLDERREWIND_TEST_FAIL" Secure="yes" />
    <?endif?>
    <InstallUISequence><Custom Action="InstallerPreflight" Before="CostFinalize" /></InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="PrepareShortcutIcons" After="CreateShortcuts" Condition="NOT REMOVE = &quot;ALL&quot;" />
      <Custom Action="FinalizeShortcutIconsUser" After="PrepareShortcutIcons" Condition="NOT REMOVE = &quot;ALL&quot; AND NOT ALLUSERS = 1" />
      <Custom Action="FinalizeShortcutIconsMachine" After="FinalizeShortcutIconsUser" Condition="NOT REMOVE = &quot;ALL&quot; AND ALLUSERS = 1" />
      <Custom Action="PrepareBundleLocation" After="InstallFiles" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot;" />
      <Custom Action="RollbackBundleUser" After="PrepareBundleLocation" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND NOT ALLUSERS = 1" />
      <Custom Action="WriteBundleUser" After="RollbackBundleUser" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND NOT ALLUSERS = 1" />
      <Custom Action="CommitBundleUser" After="WriteBundleUser" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND NOT ALLUSERS = 1" />
      <Custom Action="RollbackBundleMachine" After="CommitBundleUser" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND ALLUSERS = 1" />
      <Custom Action="WriteBundleMachine" After="RollbackBundleMachine" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND ALLUSERS = 1" />
      <Custom Action="CommitBundleMachine" After="WriteBundleMachine" Condition="FOLDERREWIND_BUNDLECODE AND NOT REMOVE = &quot;ALL&quot; AND ALLUSERS = 1" />
      <Custom Action="InstallerPreflight" Before="CostFinalize" />
      <Custom Action="PrepareStartupCleanup" After="InstallInitialize" Condition="REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
      <Custom Action="RollbackStartupUser" After="PrepareStartupCleanup" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND NOT ALLUSERS = 1" />
      <Custom Action="CleanupStartupUser" After="RollbackStartupUser" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND NOT ALLUSERS = 1" />
      <Custom Action="CommitStartupUser" After="CleanupStartupUser" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND NOT ALLUSERS = 1" />
      <Custom Action="RollbackStartupMachine" After="CommitStartupUser" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND ALLUSERS = 1" />
      <Custom Action="CleanupStartupMachine" After="RollbackStartupMachine" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND ALLUSERS = 1" />
      <Custom Action="CommitStartupMachine" After="CleanupStartupMachine" Condition="FolderRewindCleanupAuthorized = 1 AND REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND ALLUSERS = 1" />
      <?if $(var.EnableFaultInjection) = 1 ?>
      <Custom Action="InjectCleanupFailure" After="CommitStartupMachine" Condition="REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND FOLDERREWIND_TEST_FAIL = &quot;cleanup&quot;" />
      <Custom Action="InjectUninstallFailure" After="RemoveFiles" Condition="REMOVE = &quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND FOLDERREWIND_TEST_FAIL = &quot;files&quot;" />
      <Custom Action="InjectUpgradeFailure" After="InstallFiles" Condition="WIX_UPGRADE_DETECTED AND FOLDERREWIND_TEST_FAIL = &quot;files&quot;" />
      <Custom Action="InjectRegistrationFailure" After="PublishProduct" Condition="NOT UPGRADINGPRODUCTCODE AND FOLDERREWIND_TEST_FAIL = &quot;registration&quot;" />
      <?endif?>
    </InstallExecuteSequence>
    <Property Id="INSTALLFOLDER" Secure="yes" />
    <Property Id="REMEMBEREDUSERPATH"><RegistrySearch Id="RememberedUserPath" Root="HKCU" Key="$(var.InstallerRegistryKey)" Name="InstallFolder" Type="raw" /></Property>
    <Property Id="REMEMBEREDMACHINEPATH"><RegistrySearch Id="RememberedMachinePath" Root="HKLM" Key="$(var.InstallerRegistryKey)" Name="InstallFolder" Type="raw" Bitness="always64" /></Property>
    <StandardDirectory Id="ProgramFiles64Folder"><Directory Id="INSTALLFOLDER" Name="$(var.PackageDisplayName)" /></StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="FolderRewindProgramsFolder" Name="$(var.PackageDisplayName)">
        <Component Id="StartMenuShortcutComponent" Guid="*">
          <Shortcut Id="StartMenuShortcut" Name="$(var.PackageDisplayName)" Target="[INSTALLFOLDER]FolderRewind.exe" WorkingDirectory="INSTALLFOLDER" Icon="FolderRewindIcon">
            <ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.PackageIdentifier)" />
            <ShortcutProperty Key="System.AppUserModel.RelaunchCommand" Value="&quot;[INSTALLFOLDER]FolderRewind.exe&quot;" />
            <ShortcutProperty Key="System.AppUserModel.RelaunchIconResource" Value="[INSTALLFOLDER]Assets\MsiApp.ico,0" />
            <ShortcutProperty Key="System.AppUserModel.RelaunchDisplayNameResource" Value="FolderRewind" />
          </Shortcut>
          <RemoveFolder Id="RemoveFolderRewindProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKMU" Key="$(var.InstallerRegistryKey)" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Root="HKMU" Key="$(var.InstallerRegistryKey)" Name="InstallFolder" Type="string" Value="[INSTALLFOLDER]" />
        </Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*">
        <Shortcut Id="DesktopShortcut" Name="$(var.PackageDisplayName)" Target="[INSTALLFOLDER]FolderRewind.exe" WorkingDirectory="INSTALLFOLDER" Icon="FolderRewindIcon">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.PackageIdentifier)" />
          <ShortcutProperty Key="System.AppUserModel.RelaunchCommand" Value="&quot;[INSTALLFOLDER]FolderRewind.exe&quot;" />
          <ShortcutProperty Key="System.AppUserModel.RelaunchIconResource" Value="[INSTALLFOLDER]Assets\MsiApp.ico,0" />
          <ShortcutProperty Key="System.AppUserModel.RelaunchDisplayNameResource" Value="FolderRewind" />
        </Shortcut>
        <RegistryValue Root="HKMU" Key="$(var.InstallerRegistryKey)" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
    <Feature Id="MainFeature" Title="!(loc.MainFeature)" Level="1" AllowAbsent="no" AllowAdvertise="no">
      <ComponentGroupRef Id="ApplicationFiles" /><ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
    <Feature Id="DesktopShortcutFeature" Title="!(loc.DesktopFeature)" Level="1" AllowAdvertise="no"><ComponentRef Id="DesktopShortcutComponent" /></Feature>
    <WixVariable Id="WixUILicenseRtf" Value="Assets\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Assets\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\Dialog.bmp" />
    <ui:WixUI Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Package>
</Wix>
